---
import Layout from "../layouts/Layout.astro";
import Resources from "../components/Resources.astro";
---

<Layout title="Alejandro Llanganate">
	<main>
		<div class="header-container">
			<Resources />
		</div>
	</main>
</Layout>

<style>
	.header-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>
