---
import Layout from "../layouts/Layout.astro";
import Others from "../components/Others.astro";
---

<Layout title="Otros">
    <main>
        <div class="otros-container">
            <Others />
        </div>
    </main>

    <style>
        .otros-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</Layout>
