---
import Layout from "../layouts/Layout.astro";
import VideosList from "../components/Videos.astro";
---

<Layout title="Vídeos">
    <main>
        <div class="videos-container">
            <VideosList />
        </div>
    </main>
</Layout>

<style>
    .videos-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
