---
// @ts-ignore
import { Icon } from "astro-icon/components";
---
<div class="mt-14">
  <h2 class="text-center text-slate-500">
    Estas son algunas certificaciones internacionales que poseo actualmente.
  </h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center flex-wrap mt-5">
    <img 
      src="https://i.ibb.co/WpCN6zY/cer-aws.png" 
      alt="AWS Certification"
      class="h-32 md:h-40 object-contain" 
    />
    <img 
      src="https://i.ibb.co/VVjfCpG/cer-graph.png"
      alt="GraphQL Certification" 
      class="h-32 md:h-40 object-contain"
    />
  </div>
</div>

</div>

<div class="mt-14">
  <h2 class="text-center text-slate-500">
    Y fui el fundador del Club de Software EPN y Ex Presidente de la Asociación de Estudiantes de Ingeniería de Sistemas de la EPN
  </h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center flex-wrap mt-5">
    <img 
      src="https://i.ibb.co/ZW4nbPc/logo-club.png"
      alt="GraphQL Certification" 
      class="h-32 md:h-40 object-contain"
    />
    <img 
      src="https://i.ibb.co/x59PxWh/logo-aeis.png" 
      alt="AWS Certification"
      class="h-32 md:h-40 object-contain" 
    />
  </div>
</div>

</div>