---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h3 class="text-white text-3xl md:text-4xl tracking-tight">
    &lt; Open source /&gt;
  </h3>
  <p class="text-slate-400 mt-4 text-md md:text-md">
    Este repositorio es público y estará actualizándose cada en el caso de que
    quieras contribuir conmigo puede hacerlo en el siguiente enlace.
  </p>
  <div class="flex mt-5">
    <Link
      href="https://github.com/alejandro-llanganate/alejandrollanganate-com"
      style="inverted">Repositorio en GitHub</Link
    >
  </div>
</div>
