---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Mentorías",
    description:
      "Descubre cómo puedo ayudarte a alcanzar tus objetivos profesionales y académicos.",
    icon: "bx:bxs-graduation",
  },
  {
    title: "Proyecto musical 'Granizo'",
    description:
      "Es una canción de piano sobre la fragilidad del amor, el dolor de la pérdida y los cambios que deja.",
    icon: "bx:bxs-music", // Changed to piano icon
  },
  {
    title: "Zelify",
    description:
      "Es el proyecto con el cual trabajo con Zwippe que conectará personas de distintos países mediante transferencias",
    icon: "bx:bxs-data",
  },
  {
    title: "Alumnis FIS",
    description:
      "Es una propuesta para reunir a profesionales de la Facultad de Ingeniería de Sistemas",
    icon: "bx:bxs-bot",
  },
  {
    title: "Note-taking",
    description:
      "Puedes solicitarme mis notas o apuntes contactándome para abrirlas en Obsidian.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "IELTS",
    description:
      "Actualmente me estoy preparando para el IELTS, si deseas armar un grupo de estudio contactame.",
    icon: "bx:bxs-book",
  },
];
---

<div class="mt-12 md:mt-0">
  <h2
    class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-12 pt-12 text-center">
    Formación multifacética
  </h2>
  <p class="text-lg mt-4 text-slate-600 text-center">
    Soy ingeniero de software que combina experiencia técnica con pasiones <br
    />como música, fotografía y escritura, integrando creatividad y arte en
    soluciones innovadoras
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
