---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<!-- Font Awesome -->
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>

<nav>
    <ul>
        <li class={currentPath === "" ? "active" : ""}>
            <a href="/"
                ><span><i class="fas fa-book"></i></span>
                <span class="nav-label"> Recursos</span></a
            >
        </li>
        <li class={currentPath === "videos/" ? "active" : ""}>
            <a href="/videos/">
                <span><i class="fas fa-video"></i></span>
                <span class="nav-label"> Videos</span>
            </a>
        </li>
        <li class={currentPath === "otros/" ? "active" : ""}>
            <a href="/otros/">
                <span><i class="fas fa-ellipsis-h"></i></span>
                <span class="nav-label"> Otros</span>
            </a>
        </li>
    </ul>
</nav>

<style>
    nav {
        display: flex;
        justify-content: center;
        width: 70%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
        margin: 0px;
        padding: 0px;
        background-color: white;
    }

    ul {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .nav-label {
        padding-left: 0.5rem;
    }

    li {
        font-weight: 500;
        color: rgb(138, 138, 138);
        padding: 1rem 0px;
        height: 100%;
        border-top: 2px solid transparent;
        width: 33%;
        text-align: center;
    }

    .active {
        border-top: 2px solid rgb(43, 51, 84);
        color: black;
    }

    li a {
        height: 100%;
        width: 100%;
        padding: 2rem;
    }

    @media (max-width: 1024px) {
        nav {
            width: 85%;
        }
    }

    @media (max-width: 768px) {
        nav {
            width: 90%;
        }
    }

    @media (max-width: 640px) {
        nav {
            width: 90%;
        }

        .nav-label {
            display: none;
            padding-left: 0rem;
        }
    }

    @media (max-width: 469px) {
        nav {
            width: 90%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
</style>
